target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea/dataSources.local.xml
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


### React ###
/projetOseFE/node_modules/
/projetOseFE/dist/
/projetOseFE/build/
/projetOseFE/.env
/projetOseFE/.cache
/projetOseFE/.next
/projetOseFE/out
/projetOseFE/npm-debug.log*
/projetOseFE/yarn-debug.log*
/projetOseFE/yarn-error.log*
.idea/dataSources.local.xml
.idea/workspace.xml
/.idea

.env
