@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #000;
    background-color: #ffffff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    font-family: inherit;
}
