@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #000;
    background-color: #ffffff;
}

a {
}

a:hover {
}

body {
    font-family: inherit;
    min-height: 100vh;
}

html {
    background-image: url("/assets/img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
