:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    background-color: #ffffff;
}

a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    background-color: inherit;
    font-family: inherit;
}
